.footer {
    width: 100%;
    background-color: #304A76;
    height: 223px;
    padding: 30px;
    display: flex;
    border-top: red 2px solid;
}

.footer-message{
    height: 100%;
    width: 40%;
    color: black;
    padding-left: 100px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-message .logo {
    height: 100%;
    width: 183.5px;
}

.footer-links{
    height: 100%;
    width: 40%;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-1{
    width: 50%;
    display: block;
}
.footer-links-2{
    width: 50%;
    display: block;
}

.footer-links-1 > div{
    text-decoration: none;
    color: black;
    width: 100%;
}

.footer-links-2 > div{
    text-decoration: none;
    color: black;
    width: 100%;
}

.footer-links-1 > div:hover{
    background-color: #0f0f0f;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .8);
    filter: none;
}

.footer-links-2 > div:hover{
    background-color: #0f0f0f;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .8);
    filter: none;
}

.link {
    color: inherit;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    transition: 0.5s;
    color: khaki;
}

.link:hover{
    filter: none;
    color: #F2B936;
}

.footer-participants{
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: block;
}

.footer-participants h3{
    width: 100%;
    color: khaki;
    font-size: 15px;
    font-variant: normal;
}