.container {
    /* background-color: #304A76; */
    height: 90px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    color: black;
}

.dark {
    background-color: #272525;
    color: white;
}

.bg-y {
    background: url('../../../assets/Bg_limpio.png');
}

.link-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.link-container div {
    text-align: center;
    margin-left: 25px;
    margin-top: 4px
}

.link {
    color: inherit;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    transition: 0.5s;
}

.link-new {
    margin-left: 0px;
    margin-right: 20px;
    border-width: 1px;
    color: white;
    background-color: #272525;
    padding: 1px 10px;
    border-radius: 15px 5px 15px 5px;
    font-size: 1.3em;
}

.yellow {
    color: black;
    background-color: #F2B936;
}

.hr {
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    width: 27px;
    color: inherit;
    border-radius: 50px
}

.hide {
    opacity: 0;
}

.link:hover {
    opacity: 60%;
    color: white;
}

.logo-img {
    width: 56px;
    fill: #e8d296;
}

.user-section {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-btn {
    color: #353636;
    text-decoration: none;
    background-color: #F2B936;
    height: 33px;
    width: 149px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rounded-btn:hover {
    opacity: 80%;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 2%;
    transition: 1s;
}

.user-pic {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}