.container {
    height: 100%;
    background: #f5f5dc;
}

.header {
    width: 100%;
    height: 200px;
    background: url('../../assets/Fondo\ limpio.jpg');
    display: flex;
    align-items: flex-end;
}

.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 26px;
}

.three-columns {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 90px);
}

.title {
    display: flex;
    width: 100%;
    justify-content: left;
    padding: 60px;
    padding-bottom: 0px;
}

.column {
    width: 30%;
    padding: 10px;
}