.carousel-container{
    width: 100%;
    margin-top: 66px;
}
.content {
    margin-top: -27px;
    display: flex;
    width: 100%;
    padding: 0px 10%;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.sec {
    margin-top: 30px;
    text-align: left;
    width: 100%;
}


.sec div {
    padding-left: 70px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 61px;
}

.sec .invert {
    direction: rtl;
    justify-content: flex-end;
}

.sec div p {
    width: 60%;
    margin-right: 120px;
}

.sec div img {
    width: 212px;
    height: 212px;
    object-fit: cover;    
}

.sec div .p-invert {
    margin-right: 0px;
    margin-left: 120px;
}
