.container {
    margin-top: 90px;
    text-align: left;
    padding: 0 7%;
}

.map-container {
    margin-top: 50px;
    width: 100%;
    height: 500px;
}

.iconURL {
    width: 60px;
    height: 60px;
    object-fit: fill;
    border-radius: 100px;
}

.commentaries{
    display: flex;
    justify-content: center;
    padding: 20px;
}