.container {
    padding: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.sec-div {
    padding: 0px !important;
    margin: 0px !important;
}

.img-prin {
    height: 378px;
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.img-sec {
    height: 184px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

.img-last-row1 {
    border-radius: 0 20px 0 0;
}

.prin-container {
    padding: 0px !important;
    padding-right: 11px !important;
}

.sec-container {
    padding: 0px !important;
    padding-right: 11px !important;
    padding-bottom: 11px !important;
}

.img-last-row2 {
    border-radius: 0 0 20px 0;
}